body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #007acc;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

main {
  flex: 1;
  display: flex;
  height: 100%;
}

#editor {
  height: 100%;
  width: 100%;
}

#preview {
  flex: 1;
  border: none;
  background: white;
}

#run-btn {
  background: #000000;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 1rem;
}

#fullscreen-btn {
  background: #444;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 0.5rem;
}